---
layout: page
title: 沉醉往昔少年时!
tagline: 咖啡煮萝卜的小屋
---
{% include JB/setup %}


  {% for post in paginator.posts %}
   <div class="well">
      <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
      
      <p class="date"><time pubdate="{{ post.date }}">{{ post.date | date_to_string }}</time></p>
      <p>{{ post.description }}</p>
<p class="more"><a href="{{ post.url }}" title="Read More" rel="nofollow"><span>&#10149;</span>Read More</a></p>
    </div>
  {% endfor %}

{% if paginator.total_pages > 1 %}
                <div class="pagination">
                    <ul>
                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                            {% else %}
                                <li><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
{% endif %}     
                   




